.logo{
    font-weight: bold;
}
.register{
    margin-left: 600px;
    color: white;
}
.image{
    opacity: 0.6;
}
.icon{
   margin-left:30px;
   font-size: 20px;
}

@media screen and (max-width:688px){
    .company{
        display: none;
    }
}
@media screen and (min-width:688px) and (max-width:992px){
    .company{
        display: none;
    }
    
}
